<div class="container">
    <h2>Add a new observation</h2>

    <form [formGroup]="observationForm" (ngSubmit)="onSubmit()">
        <div class="md-form md-outline">
            <mdb-icon fas icon="feather-alt" class="prefix"></mdb-icon>
            <input type="text" id="observationFormSpeciesName" class="form-control" formControlName="speciesName"
                   mdbInput
                   mdbValidate required>
            <label for="observationFormSpeciesName">Species name</label>
            <mdb-error *ngIf="speciesName.invalid && (speciesName.dirty || speciesName.touched)">
                <span *ngIf="speciesName.errors.required">Name is required</span>
                <span *ngIf="speciesName.errors.minlength">Name must be at least 3 characters long</span>
            </mdb-error>
        </div>

        <div class="row">
            <label for="observationFormRarity">Rarity</label>
            <div class="col-md">
                <select id="observationFormRarity" class="browser-default custom-select"
                        formControlName="rarity" mdbValidate required>
                    <option selected="selected" disabled>Choose rarity</option>
                    <option *ngFor="let r of rarities" [ngValue]="r">
                        {{r.name}}
                    </option>
                </select>
                <mdb-error *ngIf="rarity.invalid && (rarity.dirty || rarity.touched)">
                    <span *ngIf="rarity.errors.required">Rarity is required</span>
                </mdb-error>
            </div>
        </div>

        <div class="md-form md-outline">
            <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
            <textarea id="observationFormNotes" class="form-control md-textarea" formControlName="notes"
                      mdbInput></textarea>
            <label for="observationFormNotes">Notes</label>
        </div>

        <app-file-upload formControlName="avatarFile" [parentForm]="observationForm"></app-file-upload>

<!--        <div class="form-group">-->
<!--            <mdb-icon fas icon="camera" class="prefix" aria-label="Observation photo"></mdb-icon>-->
<!--            <input type="file" mdbBtn color="indigo" id="fileUpload" (change)="onFileChange($event)">-->
<!--        </div>-->
<!--        <div *ngIf="uploadResponse.status === 'error'">-->
<!--            {{ uploadResponse.message }}-->
<!--        </div>-->
<!--        <div *ngIf="uploadResponse.status === 'progress'">-->
<!--            <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0"-->
<!--                 aria-valuemax="100">-->
<!--                {{uploadResponse.message}}%-->
<!--            </div>-->
<!--        </div>-->

        <button type="submit" [disabled]="!observationForm.valid" mdbBtn color="indigo">Submit</button>
        <button type="button" (click)="clearFields()" mdbBtn color="red">Clear all</button>

    </form>
</div>
