<h2>Observations</h2>
<a routerLink="/observation-form" type="button" mdbBtn color="indigo" mdbWavesEffect>
    <mdb-icon fas icon="plus"></mdb-icon>
    New observation</a>
<div id="table-container" class="table-responsive">
    <table id="tableSortExample" mdbTable class="z-depth-1">
        <thead>
        <tr>
            <th *ngFor="let head of headElements" (click)="sortData(head)">
                {{head.title}}
                <mdb-icon *ngIf="!head.toggle && sortingElement === head.name" fas icon="sort-down"
                          class="clickable-icon"></mdb-icon>
                <mdb-icon *ngIf="head.toggle && sortingElement === head.name" fas icon="sort-up"
                          class="clickable-icon"></mdb-icon>
                <mdb-icon *ngIf="sortingElement !== head.name" fas icon="sort" class="clickable-icon"></mdb-icon>
            </th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let observation of sortedData">
            <td>{{observation.speciesName}}</td>
            <td>{{observation.rarity.name}}</td>
            <td>{{observation.timestamp | date : "dd.MM.yyyy"}}</td>
            <td>{{observation.timestamp | date : "HH:mm"}}</td>
            <td>{{observation.latitude | number : '1.5-5'}}</td>
            <td>{{observation.longitude | number : '1.5-5'}}</td>
            <td>{{observation.notes | excerpt:30}}</td>
        </tr>
        </tbody>
    </table>
</div>
