<div class="row">
    <input [formGroup]="parentForm" id="fileUploadField" class="hidden-file-input" type="file">
    <label for="fileUploadField" mdbBtn class="indigo lighten-4">Upload a picture</label>
    <span>Chosen file: {{file && file.name}}</span>
</div>
<div *ngIf="fileUpload.invalid">
    <span *ngIf="fileUpload.errors.requiredFileType" class="text-danger">Only .png and .jpg formats allowed</span>
</div>

<div *ngIf="percentage | async as pct">
    <progress class="progress is-info" [value]="pct" max="100"></progress>
    {{ pct | number }}%
</div>

<!--TODO: add these extra upload buttons if you have time-->
<!--<button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>-->
<!--<button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>-->
<!--<button (click)="task.resume()" class="button is-info" [disabled]="!(snap?.state === 'paused')">Resume</button>-->
