/*.footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    background-color: #ddd;*/
/*}*/

html{
    position: relative;
    height: 100%;
}

footer {
    background-color: #ddd;
    border-top: 1px solid #bbb;
    text-align: center;
}
